.header{
    height:30%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(130, 45, 24);
    top:0;
    left:0;
    width: 100%;
    height:5rem;
    color:white;
    align-items: center;
    padding:0 10%;
    box-shadow:0 2px 8px rgb(53, 49, 4,34);
    z-index: 10;

}

.main-image{
    width:100%;
    height:25rem;
    z-index: 0;
    overflow: hidden;
}

.main-image img{
    width: 110%;
    height:100%;
    object-fit: cover;
    transform:rotateZ(-5deg) translateY(-4rem) translateZ(-2rem);
    z-index: 2;
}



